# Week 0 :- Python Fundamentals
Starting the week with  revising the python fundamentals. We will go through important python concepts in this topic.

1. Data Structure  
2. Flow Control  
3. Functions  
4. OOP concept  
5. Advanced Python  [Generators Iterators and Decorators]
6. Numpy   
7. Pandas  
8. Matplotlib  


**Data Structure**   
Data Structure are containers that organize and group data types together in different ways.

**Types of Data Structure**
* List
* Tuple
* Strings
* Set 
* Dictionary


**There are two things to keep in mind for each of the datastructure.** 
1. Are they mutable?
2. Are they ordered?

## List -
Mutable and ordered collection of elements

In [1]:
mylist=['apple', 'orange', 25, 12.7, True]
print(mylist)

['apple', 'orange', 25, 12.7, True]

List :- functions & Methods

In [2]:
len(mylist)

5

In [3]:
num_list = [12, 4, 5, 8, 10]
max(num_list)

12

In [4]:
min(num_list)

4

In [5]:
sorted(num_list)

[4, 5, 8, 10, 12]

In [6]:
#to insert any value
mylist.append(13)
print(mylist)

['apple', 'orange', 25, 12.7, True, 13]

In [7]:
#to insert value at particular index
mylist.insert(3, 99)
print(mylist)

['apple', 'orange', 25, 99, 12.7, True, 13]

In [8]:
#to remove specific value from list
mylist.remove(12.7)
print(mylist)

['apple', 'orange', 25, 99, True, 13]

In [9]:
#to remove value based on index
mylist.pop(2)
print(mylist)

['apple', 'orange', 99, True, 13]

In [10]:
#to remove last value 
mylist.pop()
print(mylist)

['apple', 'orange', 99, True]

In [11]:
#to delete multiple values
del mylist[2:]
print(mylist)

['apple', 'orange']

In [12]:
#to add multiple values
mylist.extend([12, 'pear', 45])
print(mylist)

['apple', 'orange', 12, 'pear', 45]

In [13]:
num_list

[12, 4, 5, 8, 10]

In [14]:
num_list.sort()
print(num_list)

[4, 5, 8, 10, 12]

> In sorted function original list remain unchanged as it return copy of list leaving the list unchanged.

In [15]:
mylist

['apple', 'orange', 12, 'pear', 45]

In [16]:
#to reverse list
mylist.reverse()
print(mylist)

[45, 'pear', 12, 'orange', 'apple']

In [17]:
# join takes a list as arguement and return a string consist of list element joined by seperator string
name = ["Sachin", "Ramesh", "Tendulkar"]
print("-".join(name))

Sachin-Ramesh-Tendulkar

## Tuples
Immutable ordered sequence of elements

In [18]:
tup = (1,5,7,10)

In [19]:
tup[1] = 55

TypeError: 'tuple' object does not support item assignment

> Since we can't change the values in tuple hence iteration in tuple are faster than list

In [20]:
#tuple unpacking
new_tup = 1,15, 24
width, height, length = new_tup
print(f"length : {length}")
print(f"width : {width}")
print(f"height : {height}")

length : 24
width : 1
height : 15

Tuple :-  methods and functions

In [21]:
# To count the number of occurence of an element
tup = (1,5, 6, 9, 'newdelhi', 'True', 6)
tup.count(6)

2

In [22]:
tup.index('newdelhi')

4

A common use to tuple is to return multiple values from function

In [23]:
def first_and_last(sequence):
    return sequence[0], sequence[-1]

first_and_last(["spam", "non-spam", "questions", "solutions"])

('spam', 'solutions')

## Strings
Strings in Python are arrays of bytes representing unicode characters.
> Strings are immutable and ordered

In [24]:
a = 'Youtube Channel'
print(a)

Youtube Channel

In [25]:
a[0] = 'Z'
print(a)

TypeError: 'str' object does not support item assignment

#### Builtin Methods in Strings

In [26]:
#upper case
a = 'Hello World'
print(a.upper())

HELLO WORLD

similarly `lower()` method return string in lower case!

In [27]:
# remove white spaces
a = '  Hello world '
print(a.strip())

Hello world

In [28]:
# replace string
a = 'Hello World'
print(a.replace('H', 'J'))

Jello World

In [29]:
#split string
a = 'Hello, World'
print(a.split(","))

['Hello', ' World']

> The `split()` method returns a list where the text between the specified separator becomes the list items.

To access characters in a string

In [30]:
mystring = 'Justin Bieber'
print(mystring[2]) 
print(mystring[-2])
print(mystring[1:3])
print(mystring[:-2])
print(mystring[::-1])

s
e
us
Justin Bieb
rebeiB nitsuJ

In [31]:
# string membership test :- to check if substring exists in string or not!

'a' in 'program'

True

In [32]:
# len() function tells length of string and enumerate() returns an enumerate object. It contains the index and value of all the items in the string as pairs. 
mystring = 'Justin Bieber'
print(len(mystring))

13

In [33]:
# enumerate()
list_enumerate = list(enumerate(mystring))
print('list(enumerate(mystring) = ', list_enumerate)

list(enumerate(mystring) =  [(0, 'J'), (1, 'u'), (2, 's'), (3, 't'), (4, 'i'), (5, 'n'), (6, ' '), (7, 'B'), (8, 'i'), (9, 'e'), (10, 'b'), (11, 'e'), (12, 'r')]

## Sets
Mutable unordered collection of unique elements

> A set doesn't store duplicate elements

In [34]:
s = {1,12, 10, 32,'newyork', 12}
print(s)

{32, 1, 'newyork', 10, 12}

Set doesn't support indexing since it doesn't follow the sequence

> Only immutable (and hashable) objects can be a part of a set object. Numbers (integer, float, as well as complex), strings, and tuple objects are accepted, but list and dictionary objects are not.

In [35]:
# creating a set from tuple and string
s1 = {(10,11), 'newyork', 13}
print(s1)

{(10, 11), 13, 'newyork'}

In [36]:
s2 = {[10,10],10,20}
print(s2)

TypeError: unhashable type: 'list'

Methods in sets

In [37]:
# add
s1 = {1,3,4,6}
s1.add('hi')
print(s1)

{1, 3, 4, 6, 'hi'}

In [38]:
#update:- using update a set can be updated with list
s1.update(["hello", "world"])
print(s1)

{1, 3, 4, 'world', 6, 'hi', 'hello'}

In [39]:
#copy:- to copy set
s2 = s1.copy()
print(s2)

{'hi', 1, 3, 4, 'world', 6, 'hello'}

In [40]:
# discard:- returns a set after removing an item from it. No changes are done if the item is not present

s1.discard("hi")
print(s1)

{1, 3, 4, 'world', 6, 'hello'}

In [41]:
#remove:- returns a set after removing an item from it. Results in error if the item is not present
s1.remove("hello")
print(s1)

{1, 3, 4, 'world', 6}

In [42]:
#clear:- removes the contents of set object and results in an empty set
s1.clear()
print(s1)

set()

## Dictionary

Mutable unordered objects store mapping of unique keys to values

> Dictionary keys must be immutable, that is, they must be of a type that is not modifiable.

In [1]:
population  = {'Shanghai': 17.8, 'Istanbul': 13.3, 'karachi' : 13, 'Mumbai': 12.5}
print(population)

{'Shanghai': 17.8, 'Istanbul': 13.3, 'karachi': 13, 'Mumbai': 12.5}

In [2]:
population.items()

dict_items([('Shanghai', 17.8), ('Istanbul', 13.3), ('karachi', 13), ('Mumbai', 12.5)])

In [45]:
population.keys()

dict_keys(['Shanghai', 'Istanbul', 'karachi', 'Mumbai'])

In [46]:
population.values()

dict_values([17.8, 13.3, 13, 12.5])

In [47]:
population['Shanghai']

17.8

In [3]:
population.get('Shanghai')

17.8

> prefer get method than using key method as it avoid below type error.

In [49]:
population['london']

KeyError: 'london'

In [50]:
population.get('london')

## Exercise 
Given a verse count the number of unique words.

In [51]:
verse = "if you can keep your head when all about you are losing theirs and blaming it on you if you can trust yourself when all men doubt you but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise"
print(verse, '\n')

if you can keep your head when all about you are losing theirs and blaming it on you if you can trust yourself when all men doubt you but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise

## Solution

In [52]:
# Step 1 :- Split verse into list of words

verse_list = verse.split()
print(verse_list)

['if', 'you', 'can', 'keep', 'your', 'head', 'when', 'all', 'about', 'you', 'are', 'losing', 'theirs', 'and', 'blaming', 'it', 'on', 'you', 'if', 'you', 'can', 'trust', 'yourself', 'when', 'all', 'men', 'doubt', 'you', 'but', 'make', 'allowance', 'for', 'their', 'doubting', 'too', 'if', 'you', 'can', 'wait', 'and', 'not', 'be', 'tired', 'by', 'waiting', 'or', 'being', 'lied', 'about', 'don’t', 'deal', 'in', 'lies', 'or', 'being', 'hated', 'don’t', 'give', 'way', 'to', 'hating', 'and', 'yet', 'don’t', 'look', 'too', 'good', 'nor', 'talk', 'too', 'wise']

In [53]:
# Step 2 :- Convert list to a data structure that store unique elements
verse_set = set(verse_list)
print(verse_set, "\n")

{'trust', 'in', 'wise', 'you', 'if', 'deal', 'nor', 'head', 'be', 'allowance', 'too', 'but', 'are', 'by', 'talk', 'it', 'lied', 'give', 'theirs', 'when', 'losing', 'being', 'for', 'all', 'way', 'doubt', 'hated', 'hating', 'good', 'your', 'wait', 'not', 'tired', 'and', 'on', 'make', 'yet', 'can', 'keep', 'about', 'look', 'doubting', 'or', 'blaming', 'their', 'lies', 'yourself', 'don’t', 'waiting', 'men', 'to'}

In [54]:
# Step 3:- Count the number of unqiue words
num_unique = len(verse_set)
print(num_unique,  '\n')

51

 ### Data structure :- some tips and ticks

In [1]:
#1.difference between list

list1 =  ['Samsung', 'Apple', 'Oneplus', 'Mi', 'Micromax']
list2 = ['Samsung', 'Apple', 'Mi']

set1 = set(list1)
set2 = set(list2)
list3 = list(set1.symmetric_difference(set2))
print(list3)

['Oneplus', 'Micromax']

In [2]:
#2. Efficiently compare two unordered list

list1 = [11, 22, 33, 44, 55]
list2 = [22, 11, 44, 33, 55]

from collections import Counter
Counter(list1)==Counter(list2)

True

In [4]:
#3. merge two dictionaries in single expression

batsmen = {1: 'Sachin', 2: 'Kapil', 3: 'Virat'}
bowlers = {2: 'Kapil', 4: 'Bumrah'}

cricketers = {**batsmen, **bowlers}
print(cricketers)

{1: 'Sachin', 2: 'Kapil', 3: 'Virat', 4: 'Bumrah'}

In [5]:
# 4. convert two list into dictionary
rank= [1, 10, 23]
players = ['Virat', 'SKY', 'Pandya']

playersdict = dict(zip(rank, players))
print(playersdict)

{1: 'Virat', 10: 'SKY', 23: 'Pandya'}

In [6]:
#5. create a single string from all the elements
a = ['Welcome', 'to', 'course']
print(" ".join(a))

Welcome to course

In [1]:
#most frequent on the list
a = [1, 2, 3, 4, 2, 2, 3, 1, 4, 4, 4]
print(max(set(a), key = a.count))

4