## Control flow

### if elif else statements

In [1]:
ipl_season = 2

if ipl_season ==  1:
    print("winner is rajasthan royal")
elif ipl_season == 2:
    print("winner is deccan charges")
elif ipl_season == 3:
    print("winner is Chennai Superkings")
else:
    print("winner after season 3 is not known")

winner is deccan charges

In [2]:
#if else statement for non boolean statement
error = 3
if error:
    print(f"There are {error} errors.")
else:
    print("There are no mistakes")

There are 3 errors.

In [3]:
error = 0
if error:
    print(f"There are {error} errors.")
else:
    print("There are no mistakes")

There are no mistakes

**Below are the most of the built-in objects that are considered False in python:**

* Constants defined to be false: None and False.  
* Zero of any numeric type: 0, 0.0, 0j, Decimal(0), Fraction(0, 1).  
* Empty sequences and collections: '"", (), [], {}, set(), range(0)

### Loops

1. while loop
2. for loop

In [4]:
i=1  #assigning the value
while i<10:   #condition
    print(i)
    i = i+1   #increment or decrement

1
2
3
4
5
6
7
8
9

In [5]:
i=1
j=1
while i<=5:
    print("Vidya", end="")
    j=1
    while j<=4:
        print(" sagar", end="")
        j=j+1
    i=i+1
    print()

Vidya sagar sagar sagar sagar
Vidya sagar sagar sagar sagar
Vidya sagar sagar sagar sagar
Vidya sagar sagar sagar sagar
Vidya sagar sagar sagar sagar

#### for Loop :-
for loop works with iterable like sequence type tuple, list or strings and non-sequence type dictionary and files.

In [6]:
x = ['Vidya', 32, 'Sagar', 65]
for i in x:
    print(i)

Vidya
32
Sagar
65

In [7]:
#for loop to create list object
cities = ['mumbai', 'delhi', 'london', 'newyork']
capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())
print(capitalized_cities)

['Mumbai', 'Delhi', 'London', 'Newyork']

In [8]:
cities = ['mumbai', 'delhi', 'london', 'newyork']
for index in range(len(cities)):
    cities[index] = cities[index].title()
print(cities)

['Mumbai', 'Delhi', 'London', 'Newyork']

In [11]:
# for loop using enumerate
cities = ['mumbai', 'delhi', 'london', 'newyork']
for index, value in enumerate(cities):
    print(index, value)

0 mumbai
1 delhi
2 london
3 newyork

> enumerate() method takes two parameters: - iterable and start(optional)

In [12]:
# for loop with dictionary

mydict = {'name': 'sagar', 
          'age': 30, 
          'income':10000, 
          'home': 3}

for k,d in mydict.items():
    print(f"Hi {k}, and it is {d}")

Hi name, and it is sagar
Hi age, and it is 30
Hi income, and it is 10000
Hi home, and it is 3

In [13]:
for key in mydict.keys():
    print(key)

name
age
income
home

In [14]:
for value in mydict.values():
    print(value)

sagar
30
10000
3

## Break Continue and Pass

**Break**  
Break is use to jump out of loop

In [15]:
available_choco = 10
x = int(input("how many choco you want?"))

i = 1
while i <= x:
    if i > available_choco:
        print("Out of stock")
        break
    print("Choco")
    i += 1
print("end")

how many choco you want? 12

Choco
Choco
Choco
Choco
Choco
Choco
Choco
Choco
Choco
Choco
Out of stock
end

> A `for` loop have optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.The break keyword can be used to stop a for loop. In such cases, the else part is ignored.
Hence, a for loop's else part runs if no break occurs.

In [17]:
# lets take an example 
vals = [1,2,4, 9]
for i in vals:
    print(i)
else:
    print("No items remaining")

1
2
4
9
No items remaining

This `for...else` statement can be used with the `break` keyword to run the `else` block only when the `break` keyword was not executed.

In [19]:
player_name = 'Rohit'
ranking = {'Virat' : 1, 'Kane' : 2 , 'SKY':5}

for player in ranking:
    if player == player_name:
        print(ranking[player])
        break
else:
    print("No player with that name found!")

No player with that name found!

In [20]:
player_name = 'Kane'
ranking = {'Virat' : 1, 'Kane' : 2 , 'SKY':5}

for player in ranking:
    if player == player_name:
        print(ranking[player])
        break
else:
    print("No player with that name found!")

2

**Continue**  
continue use to skip the iteration and keep continue the loop

In [21]:
#suppose we need to print  1 to 20 but not the one which are divisible by 3
for i in range(1,21):
    if i%3 == 0:
        continue
    print(i)
print("end")

1
2
4
5
7
8
10
11
13
14
16
17
19
20
end

Difference between break and continue

In [23]:
#continue 
for i in range(5):
    if i==3:
        continue
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 4

In [24]:
#break
for i in range(5):
    if i ==3:
        break
    print("Hello", i)

Hello 0
Hello 1
Hello 2

> So that means in case of break it simply comes out of loop where as in case of continue just skip condition and move to next.

**Pass**  
pass simply means there is no code simply ignore it

In [25]:
# suppose we don't want to print the odd numbers
for i in range(1,21):
    if(i%2!=0):
        pass
    else:
        print(i)
print("end")

2
4
6
8
10
12
14
16
18
20
end

## Exercise:-
Check whether a given integer is palindrome or not ? without converting integer to string.

In [42]:
x = 12321
if x < 0:
    print("not a palindrome")
inputnum = x
newnum = 0

while x > 0:
    newnum = newnum*10 + x%10
    x = x//10
    if newnum == inputnum:
        print("it is a palindrome")

it is a palindrome

In [45]:
x = 1234

inputnum = x
newnum = 0

while x > 0:
    newnum = newnum*10 + x%10
    x = x//10

if newnum == inputnum:
    print("it is a palindrome")
else:
    print("not a palindrome")

not a palindrome