## Pandas

In [1]:
import pandas as pd
pd.__version__

'1.4.4'

### Creating Example Data Frame

In [2]:
#way1 
df = pd.DataFrame({'name':['Arjun','Nakul'], 'age':[30, 20]})
df

    name  age
0  Arjun   30
1  Nakul   20

In [3]:
#for larger dataframe use numpy 

import numpy as np
pd.DataFrame(np.random.randn(4,8))

,0,1,2,3,4,5,6,7
0,1.005014,-0.518364,-0.497271,-1.820434,-0.628792,-0.794654,1.149422,1.227962
1,0.601134,-0.326089,0.246669,1.190240,-0.694469,-1.169670,-0.359333,0.333278
2,-0.956413,0.371677,-0.029348,0.215895,-1.102460,1.955211,0.298224,-0.397630
3,0.358971,-0.207673,0.914721,-0.458446,1.245312,-0.342831,1.859599,-0.147625

In [4]:
# giving non numeric columns names 

pd.DataFrame(np.random.randn(4,8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,1.329068,-0.323097,-1.399938,1.461004,0.403980,-1.130904,1.807130,-1.359109
1,0.545803,-1.263636,-0.991000,-0.020565,0.766591,-0.275771,-1.596134,0.251915
2,0.000055,0.077282,-0.339264,0.842158,0.852295,-0.145603,0.403651,0.319371
3,-1.247762,0.343557,2.368915,-1.278944,0.493179,1.079995,1.247042,-0.564776

### Rename columns

In [5]:
df = pd.DataFrame({'col 1' :['ram', 'lakshman'], 'col 2':[34 ,25]})
df

      col 1  col 2
0       ram     34
1  lakshman     25

In [6]:
df = df.rename({'col 1':'col_1', 'col 2' : 'col_2'}, axis= 'columns')
df

      col_1  col_2
0       ram     34
1  lakshman     25

In [7]:
df.columns = ['col 1','col 2']

In [8]:
df

      col 1  col 2
0       ram     34
1  lakshman     25

In [9]:
df.columns = df.columns.str.replace(' ', '_')
df

      col_1  col_2
0       ram     34
1  lakshman     25

In [10]:
 # to add prefix in column names
df.add_prefix('X_')

    X_col_1  X_col_2
0       ram       34
1  lakshman       25

In [11]:
# to add sufix in column names
df.add_suffix('_Y')

    col_1_Y  col_2_Y
0       ram       34
1  lakshman       25

### Reading data from csv

In [12]:
#loading data in pandas
df = pd.read_csv('data/pokemon_data.csv')
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### Build a dataframe from multiple files(row wise)

In [13]:
from glob import glob
transactions_files= sorted(glob('data/transactions*.csv'))
transactions_files

['data/transactions1.csv', 'data/transactions2.csv', 'data/transactions3.csv']

In [14]:
pd.concat((pd.read_csv(file) for file in transactions_files), ignore_index=True)

   transaction_id  customer_id product  price
0             100            1    ball     30
1             101            2     bat    100
2             102            2  gloves     50
3             200            3     bat    250
4             201            3   shirt    120
5             202            4  gloves     20
6             300            4   shoes    300
7             301            5    ball     50
8             302            5    pads    100

### Build dataframe from multiple files (column wise)

In [15]:
customers_files = sorted(glob('data/customers*.csv'))
customers_files

['data/customers1.csv', 'data/customers2.csv']

In [16]:
pd.concat((pd.read_csv(file) for file in customers_files), axis='columns').head()

   customer_id   name     city   country  population
0            1  Arjun    delhi     India     1000000
1            2  Angad   meerut  Srilanka      200000
2            3  Karan  panipat    Bhutan       30000

In [17]:
# read the headers
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
# read each column
df[['Name', 'Attack']].head()

                    Name  Attack
0              Bulbasaur      49
1                Ivysaur      62
2               Venusaur      82
3  VenusaurMega Venusaur     100
4             Charmander      52

In [19]:
# print each row
df.iloc[1]

Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [20]:
df.iloc[1:4]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [21]:
# read specific location
df.iloc[2,1]

'Grass'

In [22]:
# to go row by row in dataframe
# for index, row in df.iterrows():
#     print(index, row['Name'])

In [23]:
#also working with conditional statement use loc

df.loc[df['Type 1']=="Fire"].head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [24]:
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [25]:
df.describe().loc['min':'max', 'Attack':'Speed']

     Attack  Defense  Sp. Atk  Sp. Def  Speed
min     5.0      5.0    10.00     20.0    5.0
25%    55.0     50.0    49.75     50.0   45.0
50%    75.0     70.0    65.00     70.0   65.0
75%   100.0     90.0    95.00     90.0   90.0
max   190.0    230.0   194.00    230.0  180.0

### reverse row order

In [26]:
df.loc[::-1].head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True

In [27]:
#reverse and reset index
df.loc[::-1].reset_index(drop=True).head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
1,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
2,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
3,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
4,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True

### reverse column order

In [28]:
df.loc[:, ::-1].head()

,Legendary,Generation,Speed,Sp. Def,Sp. Atk,Defense,Attack,HP,Type 2,Type 1,Name
0,False,1,45,65,65,49,49,45,Poison,Grass,Bulbasaur
1,False,1,60,80,80,63,62,60,Poison,Grass,Ivysaur
2,False,1,80,100,100,83,82,80,Poison,Grass,Venusaur
3,False,1,80,120,122,123,100,80,Poison,Grass,VenusaurMega Venusaur
4,False,1,65,50,60,43,52,39,NaN,Fire,Charmander

### select columns by datatype

In [29]:
df.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [30]:
df.select_dtypes(include='number').head()

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0  45      49       49       65       65     45           1
1  60      62       63       80       80     60           1
2  80      82       83      100      100     80           1
3  80     100      123      122      120     80           1
4  39      52       43       60       50     65           1

In [31]:
df.select_dtypes(include='object').head()

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [32]:
df.select_dtypes(exclude='number').head()

                    Name Type 1  Type 2  Legendary
0              Bulbasaur  Grass  Poison      False
1                Ivysaur  Grass  Poison      False
2               Venusaur  Grass  Poison      False
3  VenusaurMega Venusaur  Grass  Poison      False
4             Charmander   Fire     NaN      False

### convert string to numbers

In [33]:
df = pd.DataFrame({'col_one':['1.1', '1.3', '3.3'],
                   'col_two':['4.4', '5.3', '7.5'],
                   'col_three':['3.1', '6.3', '-']})

df

  col_one col_two col_three
0     1.1     4.4       3.1
1     1.3     5.3       6.3
2     3.3     7.5         -

In [34]:
df.dtypes

col_one      object
col_two      object
col_three    object
dtype: object

In [35]:
df.astype({'col_one':'float', 'col_two':'float'}).dtypes

col_one      float64
col_two      float64
col_three     object
dtype: object

> it didn't convert the third column...for that we will use `pd.to_numeric` method.

In [36]:
pd.to_numeric(df.col_three, errors='coerce')

0    3.1
1    6.3
2    NaN
Name: col_three, dtype: float64

In [37]:
pd.to_numeric(df.col_three, errors='coerce').fillna(0)

0    3.1
1    6.3
2    0.0
Name: col_three, dtype: float64

In [38]:
#you can use above method on complete dataframe using apply

df = df.apply(pd.to_numeric, errors='coerce').fillna(0)
df

   col_one  col_two  col_three
0      1.1      4.4        3.1
1      1.3      5.3        6.3
2      3.3      7.5        0.0

In [39]:
df.dtypes

col_one      float64
col_two      float64
col_three    float64
dtype: object

### reduce dataframe size  

* using usecols to read only required columns in memory  
* convert any column containing categorical data into category type

In [40]:
 
df = pd.read_csv('data/pokemon_data.csv')
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
dtypes: bool(1), int64(7), object(3)
memory usage: 182.2 KB

In [41]:
# using usecols to read only required columns in memory
cols = ['Name', 'Type 2', 'Type 1','HP']
df = pd.read_csv('data/pokemon_data.csv', usecols=cols)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    800 non-null    object
 1   Type 1  800 non-null    object
 2   Type 2  414 non-null    object
 3   HP      800 non-null    int64
dtypes: int64(1), object(3)
memory usage: 143.9 KB

In [42]:
#convert any column containing categorical data into category type
cols = ['Name', 'Type 2', 'Type 1','HP']
dtypes={'Name':'category', 'Type 2':'category', 'Type 1': 'category'}
df = pd.read_csv('data/pokemon_data.csv', usecols=cols, dtype=dtypes)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    800 non-null    category
 1   Type 1  800 non-null    category
 2   Type 2  414 non-null    category
 3   HP      800 non-null    int64
dtypes: category(3), int64(1)
memory usage: 96.5 KB

In [43]:
#sorting values by name in reverse manner
df.sort_values('Name', ascending=False)

                        Name   Type 1  Type 2   HP
794         Zygarde50% Forme   Dragon  Ground  108
695                 Zweilous     Dark  Dragon   72
46                     Zubat   Poison  Flying   40
631                    Zorua     Dark     NaN   40
632                  Zoroark     Dark     NaN   60
..                       ...      ...     ...  ...
393          AbsolMega Absol     Dark     NaN   65
392                    Absol     Dark     NaN   65
68                      Abra  Psychic     NaN   25
511  AbomasnowMega Abomasnow    Grass     Ice   90
510                Abomasnow    Grass     Ice   90

[800 rows x 4 columns]

In [44]:
#sorting based on multiple values
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

                        Name Type 1    Type 2  HP
520                  Yanmega    Bug    Flying  86
698                Volcarona    Bug      Fire  85
231                Heracross    Bug  Fighting  80
232  HeracrossMega Heracross    Bug  Fighting  80
678                 Accelgor    Bug       NaN  80
..                       ...    ...       ...  ..
106                   Krabby  Water       NaN  30
125                   Horsea  Water       NaN  30
129                   Staryu  Water       NaN  30
139                 Magikarp  Water       NaN  20
381                   Feebas  Water       NaN  20

[800 rows x 4 columns]

### making changes to data

In [45]:
#adding columns
df = pd.read_csv('data/pokemon_data.csv')
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [46]:
df.drop(columns =['Total'], inplace=True)
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [47]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,274
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,346
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,446
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,546
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,271

In [48]:
#lets bring total before hp
cols=list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head()

,Name,Type 1,Type 2,HP,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,274,49,49,65,65,45,1,False,274
1,Ivysaur,Grass,Poison,60,346,62,63,80,80,60,1,False,346
2,Venusaur,Grass,Poison,80,446,82,83,100,100,80,1,False,446
3,VenusaurMega Venusaur,Grass,Poison,80,546,100,123,122,120,80,1,False,546
4,Charmander,Fire,NaN,39,271,52,43,60,50,65,1,False,271

### Filtering

In [49]:
df = pd.read_csv('data/pokemon_data.csv')
df.loc[df['Type 1']=='Grass']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [50]:
df['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [51]:
#multiple condition on same columns
df[(df['Type 1'] == 'Fire') |
   (df['Type 1'] == 'Bug') |
   (df['Type 1'] == 'Steel')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...
749,Doublade,Steel,Ghost,59,110,150,45,49,35,6,False
750,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
777,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [52]:
# better way for multiple condition on same columns
df[df['Type 1'].isin(['Fire', 'Bug', 'Steel'])]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...
749,Doublade,Steel,Ghost,59,110,150,45,49,35,6,False
750,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
777,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [53]:
# filter a dataframe by largest catgeries (ex:-top 3)
counts = df['Type 1'].value_counts()
counts.nlargest(3)

Water     112
Normal     98
Grass      70
Name: Type 1, dtype: int64

In [54]:
counts.nlargest(3).index

Index(['Water', 'Normal', 'Grass'], dtype='object')

In [55]:
df[df['Type 1'].isin(counts.nlargest(3).index)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...
740,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
744,Furfrou,Normal,NaN,75,80,60,65,90,102,6,False
762,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [56]:
#multiple condition on different columns
df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
344,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
451,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
651,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [57]:
df.loc[(df['Type 1']=='Grass')  | (df['Type 2']=='Poison')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
16,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [58]:
#regex filtering

df.loc[df['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
12,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
19,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
23,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
71,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
87,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False
102,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
124,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False
137,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
141,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
154,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
163,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
168,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
196,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False
224,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
229,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
232,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
248,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False
268,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
275,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
279,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
283,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
306,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False
327,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False
329,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False
333,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False
336,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False
339,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False
349,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
354,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
366,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
387,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False
393,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
397,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False
409,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
413,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False
418,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
420,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
426,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
476,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False
494,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
498,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False
511,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
527,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
591,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [59]:
#not mega
df.loc[~df['Name'].str.contains('Mega')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [60]:
import re


df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
735,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [61]:
df.loc[df['Type 1'].str.contains('Fire|Grass',flags=re.I ,regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
735,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [62]:
# starting with pi
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I ,regex=True)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

### conditional changes

In [63]:
df.loc[df['Type 1']=='Fire', 'Type 1'] ='Flamer'
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False

In [64]:
df.loc[df['Type 1']=='Fire', 'Legendary'] ='True'
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True

In [65]:
# update multiple columns based on conditions
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df.loc[df['Total']>500, ['Generation', 'Legendary']]=['Test 1', 'Test 2']
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,Test 1,Test 2,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,Test 1,Test 2,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test 1,Test 2,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test 1,Test 2,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test 1,Test 2,680
799,Volcanion,Flamer,Water,80,110,120,130,90,70,Test 1,Test 2,600

In [66]:
# reset things and load data again

df = pd.read_csv('data/pokemon_data.csv')

### Aggregate Statistics

In [67]:
df = pd.read_csv('data/pokemon_data.csv')
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,
Steel,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [68]:
df['count']=1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [69]:
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [70]:
## aggregate by multiple functions

df.groupby('Type 1').Attack.agg(['sum','count']).reset_index()

      Type 1   sum  count
0        Bug  4897     69
1       Dark  2740     31
2     Dragon  3588     32
3   Electric  3040     44
4      Fairy  1046     17
5   Fighting  2613     27
6       Fire  4408     52
7     Flying   315      4
8      Ghost  2361     32
9      Grass  5125     70
10    Ground  3064     32
11       Ice  1746     24
12    Normal  7200     98
13    Poison  2091     28
14   Psychic  4073     57
15      Rock  4086     44
16     Steel  2503     27
17     Water  8305    112

In [71]:
# combine the output of an aggregation with dataframe
df = pd.read_csv('data/pokemon_data.csv')
total_attack= df.groupby('Type 1').Attack.transform('sum')
df['total_attack']= total_attack
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_attack
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,5125
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,5125
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,5125
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,5125
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,4408
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,4086
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,4086
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,4073
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,4073
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,4408

In [72]:
df.groupby(['Type 1', 'Type 2']).Generation.mean().unstack()

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1,,,,,,,,,,,,,,,,,,
Bug,NaN,NaN,NaN,5.0,NaN,2.000000,5.0,2.857143,3.0,3.5,3.500000,NaN,NaN,2.333333,NaN,4.00,3.571429,3.000000
Dark,NaN,NaN,5.0,NaN,NaN,5.000000,2.0,4.400000,3.0,NaN,NaN,3.0,NaN,NaN,6.000000,NaN,5.000000,NaN
Dragon,NaN,NaN,NaN,5.0,3.000000,NaN,5.0,2.666667,NaN,NaN,4.400000,5.0,NaN,NaN,3.000000,NaN,NaN,NaN
Electric,NaN,NaN,2.0,NaN,6.000000,NaN,4.0,4.000000,4.0,4.0,NaN,4.0,6.0,NaN,NaN,NaN,2.000000,4.000000
Fairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fighting,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,4.000000,NaN
Fire,NaN,NaN,1.0,NaN,NaN,3.857143,NaN,2.833333,NaN,NaN,3.000000,NaN,6.0,NaN,5.500000,2.00,4.000000,6.000000
Flying,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ghost,NaN,4.000000,4.0,NaN,NaN,NaN,5.0,4.000000,NaN,6.0,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
Grass,NaN,3.000000,3.0,NaN,5.000000,4.666667,NaN,2.600000,NaN,NaN,4.000000,4.0,NaN,2.066667,1.000000,NaN,5.000000,NaN
Ground,NaN,5.000000,3.0,5.0,NaN,NaN,3.0,4.000000,5.0,NaN,NaN,NaN,NaN,NaN,3.000000,2.00,5.000000,NaN
Ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,4.0,NaN,2.666667,NaN,NaN,NaN,1.500000,NaN,NaN,3.000000
Normal,NaN,NaN,NaN,NaN,2.400000,4.500000,NaN,2.875000,NaN,5.0,6.000000,NaN,NaN,NaN,3.500000,NaN,NaN,4.000000
Poison,4.0,4.000000,6.0,NaN,NaN,4.000000,NaN,1.333333,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
Psychic,NaN,6.000000,NaN,NaN,2.833333,3.000000,5.0,3.500000,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rock,3.0,2.000000,6.0,NaN,6.000000,5.000000,NaN,3.000000,NaN,3.0,1.333333,6.0,NaN,NaN,3.000000,NaN,4.000000,2.666667
Steel,NaN,NaN,4.0,NaN,4.000000,5.000000,NaN,2.000000,6.0,NaN,2.000000,NaN,NaN,NaN,3.285714,3.00,NaN,NaN
Water,NaN,3.166667,3.0,2.0,2.000000,3.666667,NaN,3.285714,5.0,3.0,3.300000,1.0,NaN,1.333333,1.200000,3.75,4.000000,NaN

### Create pivot table

In [73]:
df.pivot_table(index='Type 1', columns='Type 2', values='Generation', aggfunc='mean')

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1,,,,,,,,,,,,,,,,,,
Bug,NaN,NaN,NaN,5.0,NaN,2.000000,5.0,2.857143,3.0,3.5,3.500000,NaN,NaN,2.333333,NaN,4.00,3.571429,3.000000
Dark,NaN,NaN,5.0,NaN,NaN,5.000000,2.0,4.400000,3.0,NaN,NaN,3.0,NaN,NaN,6.000000,NaN,5.000000,NaN
Dragon,NaN,NaN,NaN,5.0,3.000000,NaN,5.0,2.666667,NaN,NaN,4.400000,5.0,NaN,NaN,3.000000,NaN,NaN,NaN
Electric,NaN,NaN,2.0,NaN,6.000000,NaN,4.0,4.000000,4.0,4.0,NaN,4.0,6.0,NaN,NaN,NaN,2.000000,4.000000
Fairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fighting,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,4.000000,NaN
Fire,NaN,NaN,1.0,NaN,NaN,3.857143,NaN,2.833333,NaN,NaN,3.000000,NaN,6.0,NaN,5.500000,2.00,4.000000,6.000000
Flying,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ghost,NaN,4.000000,4.0,NaN,NaN,NaN,5.0,4.000000,NaN,6.0,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
Grass,NaN,3.000000,3.0,NaN,5.000000,4.666667,NaN,2.600000,NaN,NaN,4.000000,4.0,NaN,2.066667,1.000000,NaN,5.000000,NaN
Ground,NaN,5.000000,3.0,5.0,NaN,NaN,3.0,4.000000,5.0,NaN,NaN,NaN,NaN,NaN,3.000000,2.00,5.000000,NaN
Ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,4.0,NaN,2.666667,NaN,NaN,NaN,1.500000,NaN,NaN,3.000000
Normal,NaN,NaN,NaN,NaN,2.400000,4.500000,NaN,2.875000,NaN,5.0,6.000000,NaN,NaN,NaN,3.500000,NaN,NaN,4.000000
Poison,4.0,4.000000,6.0,NaN,NaN,4.000000,NaN,1.333333,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
Psychic,NaN,6.000000,NaN,NaN,2.833333,3.000000,5.0,3.500000,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rock,3.0,2.000000,6.0,NaN,6.000000,5.000000,NaN,3.000000,NaN,3.0,1.333333,6.0,NaN,NaN,3.000000,NaN,4.000000,2.666667
Steel,NaN,NaN,4.0,NaN,4.000000,5.000000,NaN,2.000000,6.0,NaN,2.000000,NaN,NaN,NaN,3.285714,3.00,NaN,NaN
Water,NaN,3.166667,3.0,2.0,2.000000,3.666667,NaN,3.285714,5.0,3.0,3.300000,1.0,NaN,1.333333,1.200000,3.75,4.000000,NaN

In [74]:
# to add overall at end
df.pivot_table(index='Type 1', columns='Type 2', values='Generation', aggfunc='mean', margins=True)

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,All
Type 1,,,,,,,,,,,,,,,,,,,
Bug,NaN,NaN,NaN,5.0,NaN,2.000000,5.0,2.857143,3.000000,3.50,3.500000,NaN,NaN,2.333333,NaN,4.000000,3.571429,3.000000,3.134615
Dark,NaN,NaN,5.000000,NaN,NaN,5.000000,2.0,4.400000,3.000000,NaN,NaN,3.000000,NaN,NaN,6.000000,NaN,5.000000,NaN,4.142857
Dragon,NaN,NaN,NaN,5.0,3.000000,NaN,5.0,2.666667,NaN,NaN,4.400000,5.000000,NaN,NaN,3.000000,NaN,NaN,NaN,3.714286
Electric,NaN,NaN,2.000000,NaN,6.000000,NaN,4.0,4.000000,4.000000,4.00,NaN,4.000000,6.0,NaN,NaN,NaN,2.000000,4.000000,3.882353
Fairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000
Fighting,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,4.000000,NaN,4.142857
Fire,NaN,NaN,1.000000,NaN,NaN,3.857143,NaN,2.833333,NaN,NaN,3.000000,NaN,6.0,NaN,5.500000,2.000000,4.000000,6.000000,3.708333
Flying,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
Ghost,NaN,4.000000,4.000000,NaN,NaN,NaN,5.0,4.000000,NaN,6.00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,4.500000
Grass,NaN,3.000000,3.000000,NaN,5.000000,4.666667,NaN,2.600000,NaN,NaN,4.000000,4.000000,NaN,2.066667,1.000000,NaN,5.000000,NaN,2.918919
Ground,NaN,5.000000,3.000000,5.0,NaN,NaN,3.0,4.000000,5.000000,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,5.000000,NaN,3.789474
Ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,4.000000,NaN,2.666667,NaN,NaN,NaN,1.500000,NaN,NaN,3.000000,2.454545
Normal,NaN,NaN,NaN,NaN,2.400000,4.500000,NaN,2.875000,NaN,5.00,6.000000,NaN,NaN,NaN,3.500000,NaN,NaN,4.000000,3.162162
Poison,4.000000,4.000000,6.000000,NaN,NaN,4.000000,NaN,1.333333,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,3.230769
Psychic,NaN,6.000000,NaN,NaN,2.833333,3.000000,5.0,3.500000,6.000000,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.473684
Rock,3.000000,2.000000,6.000000,NaN,6.000000,5.000000,NaN,3.000000,NaN,3.00,1.333333,6.000000,NaN,NaN,3.000000,NaN,4.000000,2.666667,3.342857
Steel,NaN,NaN,4.000000,NaN,4.000000,5.000000,NaN,2.000000,6.000000,NaN,2.000000,NaN,NaN,NaN,3.285714,3.000000,NaN,NaN,3.772727
Water,NaN,3.166667,3.000000,2.0,2.000000,3.666667,NaN,3.285714,5.000000,3.00,3.300000,1.000000,NaN,1.333333,1.200000,3.750000,4.000000,NaN,2.849057
All,3.333333,3.750000,4.166667,4.0,3.565217,3.923077,4.0,3.072165,4.785714,4.48,2.942857,3.714286,6.0,1.970588,2.939394,3.142857,3.818182,3.428571,3.410628

In [75]:
df.pivot_table(index='Type 1', columns='Type 2', values='Generation', aggfunc='count', margins=True)

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,All
Type 1,,,,,,,,,,,,,,,,,,,
Bug,NaN,NaN,NaN,2.0,NaN,2.0,2.0,14.0,1.0,6.0,2.0,NaN,NaN,12.0,NaN,3.0,7.0,1.0,52
Dark,NaN,NaN,3.0,NaN,NaN,2.0,3.0,5.0,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,2.0,NaN,21
Dragon,NaN,NaN,NaN,1.0,1.0,NaN,1.0,6.0,NaN,NaN,5.0,3.0,NaN,NaN,4.0,NaN,NaN,NaN,21
Electric,NaN,NaN,1.0,NaN,1.0,NaN,1.0,5.0,1.0,1.0,NaN,1.0,2.0,NaN,NaN,NaN,3.0,1.0,17
Fairy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Fighting,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,7
Fire,NaN,NaN,1.0,NaN,NaN,7.0,NaN,6.0,NaN,NaN,3.0,NaN,2.0,NaN,2.0,1.0,1.0,1.0,24
Flying,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
Ghost,NaN,1.0,2.0,NaN,NaN,NaN,3.0,2.0,NaN,10.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,22
Grass,NaN,3.0,1.0,NaN,2.0,3.0,NaN,5.0,NaN,NaN,1.0,3.0,NaN,15.0,2.0,NaN,2.0,NaN,37
Ground,NaN,3.0,2.0,1.0,NaN,NaN,1.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,3.0,1.0,NaN,19
Ice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN,3.0,11
Normal,NaN,NaN,NaN,NaN,5.0,2.0,NaN,24.0,NaN,2.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,1.0,37
Poison,1.0,3.0,1.0,NaN,NaN,2.0,NaN,3.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,13
Psychic,NaN,1.0,NaN,NaN,6.0,3.0,1.0,6.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
Rock,2.0,2.0,2.0,NaN,3.0,1.0,NaN,4.0,NaN,2.0,6.0,2.0,NaN,NaN,2.0,NaN,3.0,6.0,35
Steel,NaN,NaN,1.0,NaN,3.0,1.0,NaN,1.0,4.0,NaN,2.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN,22
Water,NaN,6.0,2.0,2.0,2.0,3.0,NaN,7.0,2.0,3.0,10.0,3.0,NaN,3.0,5.0,4.0,1.0,NaN,53
All,3.0,20.0,18.0,6.0,23.0,26.0,12.0,97.0,14.0,25.0,35.0,14.0,4.0,34.0,33.0,14.0,22.0,14.0,414

### working with large dataset

In [76]:
new_df = pd.DataFrame(columns=df.columns)
for df in pd.read_csv('data/pokemon_data.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])

### Handling Missing values

In [77]:
df = pd.read_csv('data/pokemon_data.csv')
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [78]:
df.isna().sum()

Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [79]:
#  missing values in percent
df.isna().mean()*100

Name           0.00
Type 1         0.00
Type 2        48.25
HP             0.00
Attack         0.00
Defense        0.00
Sp. Atk        0.00
Sp. Def        0.00
Speed          0.00
Generation     0.00
Legendary      0.00
dtype: float64

In [80]:
df.dropna(axis='columns').head()

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,60,62,63,80,80,60,1,False
2,Venusaur,Grass,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False
4,Charmander,Fire,39,52,43,60,50,65,1,False

In [81]:
# droping columns having more than 10% of missing values
df.dropna(thresh=len(df)*0.9, axis='columns').head()

,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,60,62,63,80,80,60,1,False
2,Venusaur,Grass,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,80,100,123,122,120,80,1,False
4,Charmander,Fire,39,52,43,60,50,65,1,False

### split a string into multiple columns

In [82]:
df = pd.DataFrame({'name':['Mark Taylor', 'Sachin Ramesh Tendulkar'],
                   'location':['Los Angeles, CA', 'Washington, DC']})
df

                      name         location
0              Mark Taylor  Los Angeles, CA
1  Sachin Ramesh Tendulkar   Washington, DC

In [83]:
df.name.str.split(' ', expand=True)

        0       1          2
0    Mark  Taylor       None
1  Sachin  Ramesh  Tendulkar

In [84]:
df[['first', 'middle', 'last']]=df.name.str.split(' ', expand=True)
df

                      name         location   first  middle       last
0              Mark Taylor  Los Angeles, CA    Mark  Taylor       None
1  Sachin Ramesh Tendulkar   Washington, DC  Sachin  Ramesh  Tendulkar

In [85]:
df.location.str.split(',', expand=True)

             0    1
0  Los Angeles   CA
1   Washington   DC

In [86]:
df['city']= df.location.str.split(',', expand=True)[0]
df

,name,location,first,middle,last,city
0,Mark Taylor,"Los Angeles, CA",Mark,Taylor,None,Los Angeles
1,Sachin Ramesh Tendulkar,"Washington, DC",Sachin,Ramesh,Tendulkar,Washington

### Expand a Series of lists into a DataFrame

In [87]:
df = pd.DataFrame({'col_one':['a', 'b', 'c'], 'col_two':[[10,40], [20, 50], [30,60]]})
df

  col_one   col_two
0       a  [10, 40]
1       b  [20, 50]
2       c  [30, 60]

In [88]:
df_new = df.col_two.apply(pd.Series)
df_new

    0   1
0  10  40
1  20  50
2  30  60

In [89]:
pd.concat([df, df_new], axis='columns')

  col_one   col_two   0   1
0       a  [10, 40]  10  40
1       b  [20, 50]  20  50
2       c  [30, 60]  30  60

### Convert continuos data to categorical data

In [90]:
df=pd.read_csv('data/pokemon_data.csv')
pd.cut(df.Attack, bins=[5,50, 100, 150,200],labels=['very low', 'low','medium', 'high']).head(10)

0    very low
1         low
2         low
3         low
4         low
5         low
6         low
7      medium
8      medium
9    very low
Name: Attack, dtype: category
Categories (4, object): ['very low' < 'low' < 'medium' < 'high']